{% extends 'base.html' %}
{% block Title %}OpenEFT | Home{% endblock %}
{% block content %}
{% load static %}
    <h2>Available Downloads</h2>
    <ul id="file-list">
        {% for file in files %}
        <li id="file_{{ file }}">
            <a href="{% url 'new-download' filename=file %}">Download {{ file }}</a>
            <button class="btn btn-danger delete-file-btn" data-delete-url="{% url 'delete_file' filename=file %}">Delete from server</button>
        </li>
        {% endfor %}
    </ul>

    <!-- CSRF token -->
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    
    <!-- Message placeholder to display success/failure messages -->
    <div id="message" style="display: none;"></div>
{% endblock %}

{% block scripts %}
<!-- Link external JavaScript file -->
<script src="{% static 'delete_file.js' %}"></script>
{% endblock %}