{% extends 'base.html' %}
{% block Title %}OpenEFT | Support{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.3.2/markdown-it.min.js"></script>
<div class="card bg-dark">
    <div class="card-body bg-secondary">
        <div class="content" id="md-content"></div>
    </div>
</div>
<style>
    #md-content a {
        color: white; /* Make links white */
        font-weight: bold; /* Make links bold */
    }
</style>
<script>
const md = window.markdownit();
fetch("/static/support.md")
.then(response => response.text())
.then(mdContent => {
    const htmlContent = md.render(mdContent);
    document.getElementById('md-content').innerHTML = htmlContent;

    // Find all links in the rendered content and add target="_blank"
    document.querySelectorAll('#md-content a').forEach(function(link) {
        link.setAttribute('target', '_blank');
    });
});
</script>
</script>
{% endblock %}